.ww{
    background-color: blanchedalmond;
    text-align: center;
}
body{
    background-color: black;
}
.mm{
    color: yellow;
    text-align: center;
}
.ee{
    border-radius: 20px;
}
.rr{
    color: yellow;
}
.ll{
   border-radius: 20px; 
}
.gg{
    color: yellow;
}
.vv{
    border-radius: 20px;
}




















